n8n-flows/alice-agent.json
{
  "name": "Alice Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alice",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-alice",
      "name": "Alice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "alice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "new-session",
              "leftValue": "={{ $json.body.session.new }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-new-session",
      "name": "New Session?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": {\n    \"text\": \"Привет! Я умный ассистент. Задавай любые вопросы.\",\n    \"tts\": \"Привет! Я умный ассистент. Задавай любые вопросы.\",\n    \"end_session\": false\n  },\n  \"version\": \"1.0\"\n}",
        "options": {}
      },
      "id": "greeting-response",
      "name": "Greeting",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Alice Webhook').item.json.body.request.command }}",
        "options": {
          "systemMessage": "Ты голосовой ассистент в Яндекс Колонке. Отвечай кратко и по делу, максимум 1-2 предложения. Не используй markdown, ссылки, эмоджи или спецсимволы — твой ответ будет озвучен голосом. Отвечай на русском языке."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [660, 420]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 200
        }
      },
      "id": "anthropic-chat",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [620, 620],
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": {\n    \"text\": \"{{ $json.output }}\",\n    \"tts\": \"{{ $json.output }}\",\n    \"end_session\": false\n  },\n  \"version\": \"1.0\"\n}",
        "options": {}
      },
      "id": "ai-response",
      "name": "AI Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Alice Webhook": {
      "main": [
        [
          {
            "node": "New Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Session?": {
      "main": [
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
